.transactions-search-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.transactions-search-input-fields {
    display: flex;
}

.transactions-search-calendar-fields {
    display: flex;
}

.transactions-search-buttons {
    display: flex;
    margin-bottom: 30px;
}