.banks-page-search-area {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-top: 50px;
}

.banks-page-search-export-content {
    display: flex;
}

.banks-page-search-form {
    display: flex;
}

.banks-page-search-btn,
.banks-page-export-btn {
    margin-left: 20px;
    margin-top: 24px;
}

.banks-page-export-btn {
    margin-left: 10px;
}