.transactions-page-pagination-open-menu {
    position: fixed;
    bottom: 3px;
    left: 55%;
}

.transactions-page-pagination-close-menu {
    position: fixed;
    bottom: 3px;
    left: 45%;
}

.transactions-page-area {
    min-width: 1500px;
 }