.link-component {
    list-style: none;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 5px;
}

.link-component::after {
    display: block;
    content: '';
    border-bottom: 3px solid white;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    transform-origin: 0% 50%;
}

.link-component:hover::after {
    transform: scaleX(1);
}

.route-link {
    text-decoration: none;
    color: white;
    display: flex;
}

.route-link > img {
    width: 20px;
    margin-right: 10px;
}

.active {
    border-bottom: 3px solid white;
}