.forgot-password {
    margin-top: 10px;
    color: white;
    text-align: end;
    font-size: 12px;
}

.forgot-password-text {
    cursor: pointer;
}

.forgot-password-text:active {
    color: lightblue;
}