.terminals-page-search-area {
    display: flex;
    height: 80px;
}

.terminals-page-search-export-content {
    display: flex;
}

.terminals-page-search-buttons {
    display: flex;
    margin-left: 20px;
    margin-top: 24px;
}

.terminals-page-search-buttons > button {
    margin-right: 10px;
}