table {
    width: 100%;
}

table, th, td {
    border: 1px solid gray;
}

/* table, td {
    text-overflow: ellipsis;
} */

tr {
    margin-right: 5px;
}

td {
    font-size: 15px;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions > svg {
    cursor: pointer;
}

.table-row-delete-button {
    color: red;
}

.table-row-edit-button {
    color: blue;
}